/*
*= require select2
*/
@import "bourbon";
$max-width: 50em;
@import "neat";

@import "styleguide";
@import "structure";
@import "table";
@import "list";
@import "form";
@import "action";

.select2-search-field input,.select2-input {
  height: 1.8em !important;
}
.select2-search-field {

  width: 100% !important;
}
.select2-container {
  min-width: 300px;
}
